.App {
  background: rgba(0, 0, 0, 0.3);
  min-height: 100vh;
}

.block {
  display: flex;
  padding-top: 5rem;
  margin: 0 auto;
}

header {
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: #e2a233;
}

.logo {
  margin: 0 10px 0 10px;
}

.items {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.item {
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0 3px 40px 5px rgba(255, 255, 255, 0.5);
}

.item:hover {
  transform: scale(1.07);
}

.item-icon-legendary {
  border: 1px solid #ff8000;
  color: #ff8000;
}

.item-icon-uncommon {
  border: 1px solid #1eff00;
  color: #1eff00;
}

.item-icon-common {
  border: 1px solid #ffffff;
  color: white;
}

.item-name-legendary {
  color: #ff8000;
}

.item-name-uncommon {
  color: #1eff00;
}

.item-name-common {
  color: white;
}

footer {
  position: absolute;
  bottom: 0;
  margin: auto;
}
